<mat-card class="login">
    <form class="form">
        <h1>Login</h1>
        <mat-form-field class="input">
            <mat-label>Nome de Usuário</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Senha</mat-label>
            <input type="text" matInput>
        </mat-form-field>
            <button mat-stroked-button class="loginButton">Entrar</button>
            <a routerLink="" class="cadastro">Não tem conta ?</a>
    </form>
</mat-card>    
