<mat-card class="cadastro">
    <form class="form">
        <h1>Cadastro</h1>
        <mat-form-field class="input">
            <mat-label>Email</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Nome de Usuário</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Senha</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Confirmar Senha</mat-label>
            <input type="text" matInput>
        </mat-form-field>
            <button mat-stroked-button class="cadastroButton">Salva</button>
            <a routerLink="" class="login">Já é um cliente ? </a>
    </form>
</mat-card>    
